<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <title>Marvel Crud</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/picocss">
  </head>
  <body>
    <header>
      <a href="/">
        <h1>Hello world !</h1>
      </a>
    </header>
    <main id="main-setup" class="container">
      <article data-theme="dark">
        <div>
          <a href="/personnages">
            <button>
              Liste des Personnages
            </button>
          </a>

          <a href="/equipes">
            <button>
              Liste des Equipes
            </button>
          </a>
        </div>
      </article>

    </main>
  </body>
</html>