<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <title>Marvel Crud</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/picocss">
  </head>
  <body>
    <header>
        <a href="/">
            <h1>Ajoutez une Equipe</h1>
        </a>
    </header>
    <main id="main-setup" class="container">
        <form class="form-size" action="/equipes/create" method="post">
            <fieldset>
                <div>
                    <label for="nom">Nom :</label>
                    <input type="text" id="nom" name="nom" required>
                    {{#error}}
                        <p class="error">{{error}}</p>
                    {{/error}}
                </div>
            </fieldset>
            <div class="create-form-buttons">
                <a href="/equipes">
                    Retour
                </a>
                <input type="submit" value="Ajouter">
            </div>
        </form>

    </main>
  </body>
</html>