<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="color-scheme" content="light dark" />
        <title>Marvel Crud</title>
        <link rel="stylesheet" href="/css/custom.css">
        <link rel="stylesheet" href="/picocss">
        <script src="https://kit.fontawesome.com/be38aa65d1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href="/">
                <h1>Détail équipe</h1>
            </a>
        </header>
        <main id="main-setup" class="container">
            <article class="personnage-details">
                
                <div class="icon-edit">
                    <a href="/equipes/{{equipe.id}}/edit">
                        <i class="fa-solid fa-pencil" style="color: #ffffff;"></i>
                    </a>

                    <a href="/equipes/{{equipe.id}}/delete">
                        <i class="fa-solid fa-trash" style="color: #f1326b;"></i>
                    </a>
                </div>
                <h2>{{equipe.nom}}</h2>  
            </article>

            <a href="/equipes">
                <button>
                    Retour
                </button>
            </a>
        </main>
    </body>
</html>