<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="color-scheme" content="light dark" />
    <title>Marvel Crud</title>
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/picocss">
  </head>
  <body>
    <header>
        <a href="/">
            <h1>Modifier un Héros</h1>
        </a>
    </header>
    <main id="main-setup" class="container">
        <form class="form-size" action="/personnages/{{personnage.id}}?_method=PUT" method="POST" enctype="multipart/form-data">
            <fieldset>
            {{! <input type="hidden" name="_method" value="PUT"> }}
                <div>
                    <label for="nom">Nom :</label>
                    <input type="text" id="nom" name="nom" value="{{personnage.personnage_nom}}" required>
                </div>
                <div>
                    <label for="photo">Photo :</label>
                    <input type="file" id="photo" name="photo" accept="image/*">
                    {{#personnage.photo}}
                    <div class="photo-preview">
                        <img src="{{personnage.photo}}" alt="Photo du personnage">
                    </div>
                    {{/personnage.photo}}
                </div>
                <div>
                    <label for="description">Description :</label>
                    <textarea id="description" name="description">{{personnage.description}}</textarea>
                </div>
                <div>
                    <label for="equipe">Équipe :</label>
                    <select id="equipe" name="equipe">
                        <option value="">Aucune</option>
                        {{#equipes}}
                            <option value="{{id}}" {{selected}}>{{nom}}</option>
                        {{/equipes}}
                    </select>
                </div>
            </fieldset>
            <div class="create-form-buttons">
                <a href="/personnages">
                    Retour
                </a>
                <input type="submit" value="Modifier">
            </div>
        </form>

    </main>
  </body>
</html>